@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);
a {
    text-decoration: none;
    color: white;
}

ul#menu-topo {
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}

ul#menu-topo li {
    display: inline;
    margin: 0;
}

ul#menu-topo li a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    text-decoration: none;
    color: white !important;
}

.nav-toggle {
    display: none;
}

.nav-item {
    color: white !important;
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }
    #post-body {
        margin: 5%;
    }
    .nav-menu {
        box-sizing: border-box;
        width: 100%;
        padding: 30px;
        background-color: transparent;
        table-layout: fixed;
    }
    ul#menu-topo {
        display: none;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: transparent;
        table-layout: fixed;
        transition: all .3s ease-in;
    }
    ul#menu-topo li {
        display: block;
        border-bottom: 1px solid transparent;
        line-height: 3;
        color: transparent;
    }
    #menu-topo li a {
        color: transparent;
    }
    ul#menu-topo li.hide {
        display: none !important;
    }
    /****TOGGLE****/
    .nav-toggle-label:before {
        color: rgb(255, 255, 255);
        position: relative;
        font-size: 40px;
        content: '☰';
        z-index: 6 !important;
    }
    .nav-toggle:checked+ul#menu-topo {
        display: table;
        margin-left: 0;
    }
}

.glow {
    font-size: 25px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}