.section-team {
    font-family: "Poppins", sans-serif !important;
    padding: 80px 0 !important;
}

.section-team .product {
    margin-right: 10px !important;
    margin-bottom: 30px !important;
    padding: 30px !important;
    background-color: #f6f9ff !important;
    border-radius: 5px !important;
}

.section-team .product:hover {
    background: linear-gradient(to right, #016cec, #00b5f7) !important;
}

.section-team .product .product-inner {
    position: relative !important;
    margin-bottom: 50px !important;
    border-radius: 50% !important;
    border: 4px dashed transparent !important;
    transition: padding .3s !important;
}

.section-team .product:hover .product-inner {
    padding: 12px !important;
    border: 4px dashed #fff !important;
}

.section-team .product .product-inner img {
    width: 30% !important;
    border-radius: 50% !important;
    margin-right: -100px;
}

.section-team .product .person-info .full-name {
    margin-bottom: 10px !important;
    font-size: 28px !important;
    font-weight: 700 !important;
    color: black !important;
}

.kiss-in {
    width: 600px !important;
}

input.kiss-in:active,
input.kiss-in:focus {
    -webkit-animation: kiss-in 0.45s ease-out;
    -moz-animation: kiss-in 0.45s ease-out;
    animation: kiss-in 0.45s ease-out;
}

@-webkit-keyframes kiss-in {
    0% {
        -webkit-transform: scale(1);
    }
    66% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes kiss-in {
    0% {
        -moz-transform: scale(1);
    }
    66% {
        -moz-transform: scale(0.9);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@keyframes kiss-in {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    66% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@media (min-width: 100px) and (max-width: 800px) {
    .kiss-in {
        margin-left: -25px !important;
        margin-top: -510px !important;
        width: 400px !important;
    }
}