input#submit.clicked {
    background: #ff3571 url(../img/loading.gif) no-repeat center center;
    background-size: 40px;
    color: #FF9AB8;
    color: rgba(255, 255, 255, 0.20)
}

input#submit.clicked:focus {
    outline: none
}

.button_red_ {
    background: #ff3571;
    width: 250px;
    display: block;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    color: #fff!important;
    border-radius: 69px;
    cursor: pointer;
    transition: .5s linear;
    margin-top: 40px;
    font-weight: 600;
    font-size: 18px
}

.button_red_:focus {
    outline: none
}

#success h2 {
    margin-bottom: 10px;
    margin-top: 10px
}

div#success {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    top: 0;
    left: 0
}

.success_content {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 150px
}

.on {
    opacity: 0;
    transition: .5s linear
}

body.white {
    background: #fff!important
}

.hu {
    z-index: -99!important
}

.now {
    opacity: 1
}

.cd-transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden
}

.cd-transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0
}

.cd-transition-layer.opening .bg-layer,
.cd-transition-layer.closing .bg-layer {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.no-cssanimations .cd-transition-layer {
    display: none
}

.cd-transition-layer.visible {
    opacity: 1;
    visibility: visible
}

.cd-transition-layer.visible .bg-layer {
    -webkit-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%)
}

.no-cssanimations .cd-transition-layer {
    display: none
}

.gummy-transition .cd-transition-layer .bg-layer {
    width: 2500%;
    background-image: url(../img/gummy_.png)
}

.gummy-transition .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence .8s steps(24) forwards;
    animation: cd-sequence .8s steps(24) forwards
}

@-webkit-keyframes cd-sequence {
    0% {
        -webkit-transform: translateY(-50%) translateX(-2%);
        transform: translateY(-50%) translateX(-2%)
    }
    100% {
        -webkit-transform: translateY(-50%) translateX(-98%);
        transform: translateY(-50%) translateX(-98%)
    }
}

@keyframes cd-sequence {
    0% {
        -webkit-transform: translateY(-50%) translateX(-2%);
        transform: translateY(-50%) translateX(-2%)
    }
    100% {
        -webkit-transform: translateY(-50%) translateX(-98%);
        transform: translateY(-50%) translateX(-98%)
    }
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0
}

a.button_want {
    background: #ff3571;
    width: 220px;
    display: block;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 69px;
    cursor: pointer;
    position: fixed;
    transition: .5s linear;
    margin-top: 12px;
    color: #fff!important;
    text-align: center;
    font-weight: 500;
    right: 30px;
    z-index: 9;
    font-size: 16px;
    top: 20px
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1.5
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    color: #0b0c17
}

.object {
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    width: 818px;
    height: 666px;
    right: 0;
    top: 0;
    background: url(../img/ilustracion_people.png) no-repeat;
    background-size: 818px;
    z-index: 4
}

@keyframes MoveUpDown {
    0%,
    100% {
        top: 0
    }
    50% {
        top: 8px
    }
}

.slide1 {
    margin-top: 240px
}

.timer {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px
}

.illustration {
    width: 800px;
    height: 666px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/ilustracion.png) no-repeat;
    background-size: 800px;
    z-index: 2
}

h1 {
    font-size: 74px;
    font-weight: 600!important;
    line-height: 1.2
}

.pp {
    margin-bottom: 40px
}

.smile img {
    position: absolute;
    top: 0;
    left: 3px
}

h2 {
    margin-bottom: 20px;
    font-size: 58px;
    font-weight: 600!important;
    line-height: 1.2
}

span.smile {
    position: relative
}

.p-big {
    font-size: 18px;
    line-height: inherit;
    margin-top: 18px
}

.autor {
    margin-top: 300px
}

.center_text {
    text-align: center
}

.line {
    width: 20px;
    height: 1px;
    background: #ff3571;
    position: absolute;
    left: 180px;
    top: 7px
}

p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 32px
}

.hiperlink {
    color: #ff3571!important;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none!important;
    text-transform: uppercase;
    margin-top: 60px;
    display: block;
    cursor: pointer;
    position: relative
}

ul.share {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999
}

a.shared {
    display: block;
    border: 1px solid #212529;
    height: 40px;
    width: 40px;
    margin: 10px 0;
    border-radius: 100%;
    transition: .15s linear;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer
}

a.shared:hover {
    background: #ff3571;
    border: 1px solid #ff3571
}

.hover_ {
    display: none
}

a.shared:hover .normal_ {
    display: none
}

a.shared:hover .hover_ {
    display: block
}

a {
    color: #ff3571!important;
    font-weight: 400
}

.credits {
    font-size: 14px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    bottom: 100px;
    left: -30px
}

.text-center {
    text-align: center;
    margin-top: 250px
}

.container.every-idea {
    margin-top: 200px;
    padding-top: 80px
}

.container.of-course {
    margin-top: 200px;
    margin-bottom: 20px
}

.middle {
    font-size: 12px;
    display: block;
    font-weight: 400
}

.title {
    margin-top: 40px
}

.col-4.text-il {
    margin-top: 100px
}

.title,
.p-small {
    max-width: 472px
}

.right_ {
    float: right
}

.images-fluid {
    margin-top: 130px;
    padding: 0
}

.images-fluid img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0
}

.image-il img {
    width: 90%;
    height: auto;
    text-align: center;
    display: block
}

p::selection,
body::selection,
a::selection,
div::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
img::selection,
p::selection {
    background: #FFF47B
}

.col-lg-7.image-il.right_img img {
    float: right
}

.container.step {
    margin-top: 180px
}

.feature {
    display: inline-block;
    width: 49%
}

.ts {
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 24px;
    float: left
}

.emoji {
    width: 42px;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 10px
}

.idea {
    float: left
}

.p-first {
    margin-top: 10px
}

.step_number {
    font-size: 90px;
    font-weight: 700;
    margin-left: -10px
}

p.p-small {
    font-size: 18px;
    margin-left: 56px
}

.container.text-center {
    max-width: 900px
}

h4 {
    font-size: 20px;
    font-weight: 500!important;
    margin-bottom: 8px;
    line-height: 1.5
}

.step .p-small {
    margin-left: 0
}

.button_coming {
    position: relative;
    float: left;
    display: none
}

a.notify {
    color: #ff3571!important;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    line-height: 48px;
    float: left;
    margin-left: 28px;
    text-decoration: underline!important;
    display: none
}

.bigone {
    font-size: 60px
}

.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0;
    width: 100%;
    max-width: 100%!important;
    background: #f9f9f9;
    padding-bottom: 0
}

.text-center2 {
    max-width: 600px;
    text-align: center;
    margin-top: 200px
}

.big {
    font-size: 24px;
    line-height: 1.5
}

.left_ {
    float: left
}

.container-input {
    position: relative
}

input[type="text"] {
    width: 650px;
    height: 82px;
    line-height: 82px;
    color: #000;
    font-size: 24px;
    border: 1px solid #f5f5f5;
    margin-top: 0;
    border-radius: 8px;
    box-shadow: 0 15px 60px rgba(51, 60, 169, 0.06);
    transition: .5s linear;
    z-index: 999;
    z-index: 999;
    text-align: center;
    position: relative
}

input[type="text"]::placeholder {
    color: #5A5B60;
    opacity: .4
}

input[type="text"]:focus {
    outline: 0;
    box-shadow: 0 15px 60px rgba(51, 60, 169, 0.2)
}

a.book {
    display: block;
    width: 204px;
    height: 48px;
    color: #d4d7e0!important;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid #e0e2e8
}

span.coming {
    top: -24px;
    position: absolute;
    display: none
}

h3 {
    font-size: 24px;
    font-weight: 500!important;
    line-height: 1.5;
    margin-bottom: 10px
}

.slide1 p.p-big {
    font-size: 24px
}

.text-il {
    margin-top: 70px
}

.title01 {
    background: url(../img/title01.svg) no-repeat;
    background-size: 32px
}

.title02 {
    background: url(../img/title02.svg) no-repeat;
    background-size: 32px
}

.title03 {
    background: url(../img/title03.svg) no-repeat;
    background-size: 32px
}

.title04 {
    background: url(../img/title04.svg) no-repeat;
    background-size: 32px
}

.btn-liquid {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 60px;
    border-radius: 27px;
    color: #fff!important;
    font: 700 14px/60px "Droid Sans", sans-serif;
    letter-spacing: .05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.btn-liquid .inner {
    position: relative;
    z-index: 2
}

.btn-liquid canvas {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
    z-index: 1
}

a.btn-liquid {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 70px;
    height: 70px
}

a.btn-liquid:hover {
    color: #fff;
    text-decoration: none
}

.btn-liquid2 {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 60px;
    border-radius: 27px;
    color: #fff;
    font: 700 14px/60px "Droid Sans", sans-serif;
    letter-spacing: .05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.btn-liquid2 .inner {
    position: relative;
    z-index: 2
}

.text-center2 {
    background: #f9f9f9;
    width: 100%;
    max-width: 100%!important;
    padding: 180px 0;
    margin: 0;
    margin-top: 200px
}

.btn-liquid2 canvas {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
    z-index: 1
}

a.btn-liquid2 {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    height: 70px
}

a.btn-liquid2:hover {
    color: #fff;
    text-decoration: none
}

.display-mobile {
    display: none
}

form label {
    display: block;
    margin-bottom: .2em;
    font-family: "Inconsolata", sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-size: 1.3rem;
    line-height: 1.3rem
}

form label.error {
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    z-index: 99999;
    position: relative
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="week"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="url"],
form textarea {
    margin-bottom: 1.25em;
    font-family: "Inconsolata", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #e6e6e6;
    border: 1px solid #191919;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em .2em .2em .2em;
    border-radius: .2em .2em .2em .2em
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="month"]:focus,
form input[type="week"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form textarea:focus {
    border-color: #191919;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="date"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="month"][disabled],
form input[type="week"][disabled],
form input[type="email"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="time"][disabled],
form input[type="url"][disabled],
form textarea[disabled] {
    background: #fff
}

form input[type="text"].error,
form input[type="password"].error,
form input[type="date"].error,
form input[type="datetime"].error,
form input[type="datetime-local"].error,
form input[type="month"].error,
form input[type="week"].error,
form input[type="email"].error,
form input[type="number"].error,
form input[type="search"].error,
form input[type="tel"].error,
form input[type="time"].error,
form input[type="url"].error,
form textarea.error {
    background: #e6e6e6;
    border-color: #c0392b
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

.required {
    color: #e9266d
}

#success,
#error {
    display: none;
    width: 100%;
    position: relative;
    top: -300px
}

#success span,
#error span {
    display: block;
    position: absolute;
    top: 0;
    width: 100%
}

#success span p,
#error span p {
    margin-top: 6em
}

#success span p {
    color: #ff3571;
    font-size: 22px;
    margin-top: 81px
}

#error span p {
    color: #c0392b
}

a.logo02 {
    margin-left: 91px;
    margin-top: 38px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #0b0c17!important
}

a.logo img {
    width: 100%;
    height: auto
}

a.logo {
    position: fixed;
    left: 40px;
    top: 40px;
    width: 36px
}

input[type="text"] {
    width: 90%;
    height: 60px;
    line-height: 60px;
    font-size: 18px
}

.shared img {
    width: 40px;
    height: auto;
    margin-top: -1px;
    margin-left: -1px
}

input#submit {
    background: transparent;
    border: none;
    color: #000;
    width: 100%;
    font-size: 20px;
    font-weight: 500
}

input#email {
    width: 650px;
    height: 82px;
    line-height: 82px;
    color: #000;
    font-size: 24px;
    border: 1px solid #f5f5f5;
    margin-top: 0;
    border-radius: 8px;
    box-shadow: 0 15px 60px rgba(12, 14, 31, 0.06);
    transition: .2s linear;
    z-index: 999;
    z-index: 999;
    text-align: center;
    position: relative;
    background: #fff
}

input#email[type="text"]:focus {
    outline: 0;
    box-shadow: 0 15px 60px rgba(12, 14, 31, 0.1)
}

input#submit {
    background: #ff3571;
    width: 250px;
    display: block;
    margin: 0 auto;
    height: 70px;
    line-height: 70px;
    color: #fff;
    border-radius: 69px;
    cursor: pointer;
    margin-top: 12px
}

input#submit:focus {
    outline: none
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px
    }
}

@media (max-width: 1200px) {
    .text-il {
        margin-top: 40px
    }
    .illustration {
        width: 700px;
        background-size: 700px
    }
    .object {
        width: 700px;
        background-size: 700px
    }
    h1 {
        font-size: 54px
    }
    h2 {
        font-size: 48px
    }
}

@media (max-width: 992px) {
    .image-il img {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto
    }
    .col-lg-5.text-il {
        text-align: center
    }
    .emoji {
        margin: 0 auto
    }
    .title,
    .p-small {
        max-width: 100%
    }
    .step_number {
        display: none
    }
}

@media (max-width: 900px) {
    .illustration {
        width: 560px;
        background-size: 560px;
        top: -50px
    }
    .slide1 {
        margin-top: 300px
    }
    a.logo02 {
        display: none
    }
    .object {
        width: 560px;
        background-size: 560px
    }
    .container {
        max-width: 660px
    }
    .container.every-idea {
        margin-top: 0
    }
    h1 {
        font-size: 50px
    }
    .container.of-course {
        margin-top: 80px
    }
    .title {
        margin-top: 0
    }
    .text-center {
        margin-top: 100px
    }
    .display-desk {
        display: none
    }
    .display-mobile {
        display: block
    }
    .container.step {
        margin-top: 100px
    }
    .emoji {
        margin-bottom: 20px
    }
    a.logo {
        left: 16px;
        top: 20px
    }
    .credits {
        left: -45px
    }
    ul.share {
        right: 20px;
        bottom: 20px
    }
    .subscribe_c h2.bigone {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
        font-size: 50px
    }
    .subscribe_c p.p-big.big {
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 10px
    }
}

@media (max-width: 500px) {
    .image-il img {
        width: 100%
    }
    .slide1 {
        margin-top: 350px
    }
    .illustration {
        width: 400px;
        height: 330px;
        top: -20px;
        background-size: 400px
    }
    .object {
        width: 400px;
        height: 330px;
        top: -20px;
        background-size: 400px
    }
    .col-6.text_first {
        max-width: 100%!important;
        width: 100%!important
    }
    h1 {
        font-size: 38px;
        line-height: 1.2
    }
    .container-fluid.images-fluid {
        overflow: hidden;
        margin-top: 70px
    }
    .images-fluid img {
        width: 200%;
        margin-left: -50%
    }
    .container.every-idea {
        margin-top: 10px
    }
    p.p-small {
        margin: 0
    }
    span.smile img {
        width: 45px;
        height: auto
    }
    .every-idea span img {
        width: 38px;
        height: auto
    }
    .container.step {
        margin-top: 100px!important
    }
    .text-center {
        margin-top: 100px
    }
    h2 {
        font-size: 38px;
        line-height: 1.2;
        margin-bottom: 10px
    }
    p {
        margin-bottom: 24px
    }
    .big {
        font-size: 20px;
        margin-bottom: 10px
    }
    h4 {
        line-height: 24px
    }
    .subscribe_c h2.bigone {
        font-size: 40px;
        text-align: center
    }
    .credits {
        display: none
    }
    .container.text-center {
        text-align: left!important
    }
    span.ts {
        margin-right: 10px;
        width: 24px;
        height: 24px;
        background-size: 24px
    }
    .emoji img {
        width: 38px;
        height: auto
    }
    .container.step.step03 {
        margin-top: 100px
    }
    .container.of-course {
        margin-top: 80px
    }
    .container {
        padding-left: 20px;
        padding-right: 20px
    }
    .text-il {
        margin-top: 20px
    }
    .container.text-center2 {
        padding-top: 100px;
        padding-bottom: 50px;
        margin-top: 80px
    }
    input#email {
        width: 100%;
        height: 60px;
        margin-top: 22px;
        font-size: 20px;
        line-height: 60px;
        padding: 0
    }
    a.logo {
        position: absolute;
        left: 20px;
        top: 280px
    }
    .footer .col {
        width: 100%!important;
        display: block;
        flex-basis: auto;
        text-align: left;
        float: left
    }
    .footer p.left_ {
        line-height: 120%;
        margin-bottom: 5px
    }
    .footer p.right_ {
        float: none;
        text-align: center
    }
    a.shared {
        display: none
    }
    .emoji {
        display: none
    }
    h3 {
        text-align: left
    }
    p.p-small {
        font-size: 16px;
        text-align: left
    }
    .logo02 {
        display: none
    }
    #success span p {
        color: #ff3571;
        font-size: 20px;
        margin-top: 125px;
        line-height: 1.5
    }
    .hiperlink {
        margin-top: 38px
    }
    .title {
        margin-top: 40px
    }
    #success img {
        width: 80px
    }
    .success_content {
        padding: 0 20px;
        height: 420px;
        position: absolute;
        top: 50%;
        margin-top: -215px
    }
}